@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --primary_07: #3f2810;
  --primary_06: #7f5720;
  --primary_05: #be8c30;
  --primary_04: #ffb100;
  --primary_03: #fed270;
  --primary_02: #fee1a0;
  --primary_01: #fef0cf;

  --neutral_120: #0c0a09;
  --neutral_100: #1b1917;
  --neutral_90: #292524;
  --neutral_80: #44403c;
  --neutral_70: #57534f;
  --neutral_60: #78716c;
  --neutral_50: #a8a29d;
  --neutral_40: #d5d3d1;
  --neutral_30: #d5d3d1;
  --neutral_20: #e7e5e4;
  --neutral_10: #f5f5f4;
  --neutral_00: #fafaf9;
  --warning_10: #ff6a6a;
  --warning_20: #ed2c2c;

  --shadow: 0px 2px 2px 0px rgba(63, 40, 16, 0.02);
}

body {
  display: flex;
  height: 100vh;
  width: 100%;
  background-color: var(--neutral_10);
  color: var(--neutral_100);
  line-height: normal;
  font-size: 0.875rem;
}

.container_inner > * {
  animation: fade-in 200ms;
}

.flow > * + * {
  margin-top: 1.5rem;
}

form,
.btn--primary,
.btn--secondary {
  box-shadow: var(--shadow);
}

form,
button {
  transition: all 100ms ease-in-out;
  height: fit-content;
}

.form:hover,
.input:hover {
  border-color: var(--primary_02);
  transition: all 300ms ease-in-out;
}

.form:focus-within,
.input:focus {
  border-color: var(--primary_04);
}

label {
  padding-left: 4px;
  color: var(--neutral_70);
  font-size: 12px;
}

.input {
  width: 100%;
  height: 32px;
  padding-inline: 10px;
  padding-block: 8px;
  border-radius: 8px;
  border: 1px solid var(--neutral_20);
  margin-bottom: 24px;
  margin-top: 4px;
  transition: all 100ms ease-in-out;
  outline: none;
}

.input::placeholder {
  color: var(--neutral_50);
}

input::placeholder {
  color: var(--neutral_60);
}

span {
  display: inline-block;
}

/* Buttons */

button,
a {
  transition: all 100ms ease-in-out;
}

.custom-border {
  border-style: solid;
  border-width: 1px;
  border-color: transparent;
  border-radius: 8px;
}

.btn--padding {
  padding-inline: 0.625rem;
  padding-block: 0.5rem;
}

.btn--with-icon div,
.icon-padding {
  padding-right: 0.25rem;
}

.btn--primary {
  background-color: var(--primary_04);
  border-color: #f2a800;
}

.btn--primary:hover {
  background-color: var(--primary_03);
  border-color: transparent;
}

.btn--secondary {
  color: var(--neutral_90);
  background-color: white;
  border-color: var(--neutral_20);
}

.btn--secondary:hover {
  background-color: var(--neutral_10);
}

/* Text */

.card-bg {
  background-color: var(--neutral_20);
}

.bg-neutral-00 {
  background-color: var(--neutral_00);
}

.bg-neutral-20 {
  background-color: var(--neutral_20);
}

.neutral-50 {
  color: var(--neutral_50);
}

.neutral-60 {
  color: var(--neutral_60);
}

.neutral-70 {
  color: var(--neutral_70);
}

.neutral-100 {
  color: var(--neutral_100);
}

.text-primary-06 {
  color: var(--primary_06);
}

.text-primary-05 {
  color: var(--primary_05);
}

.text-primary-04 {
  color: var(--primary_04);
}

.text-primary-03 {
  color: var(--primary_03);
}

.dark-accent:hover {
  filter: brightness(0.75) contrast(1.2) saturate(0.8) hue-rotate(-20deg);
}
/* Cards */

/* Typography */

h4 {
  font-size: 18px;
  font-weight: 600;
}

h6 {
  font-size: 10px;
  letter-spacing: 0.7px;
  font-weight: 500;
  color: var(--neutral_60);
  display: inline-block;
  text-transform: uppercase;
}

.p13 {
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 145%;
}
